{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<p>Projecto desenvolvido no âmbito do trabalho de grupo da UC Análise e Modelação de Sistemas.</p>

<hr />

<a href="https://danielasplopes0.wixsite.com/smartparking">Microsite</a>
<br>
<a href="https://github.com/Miguel-Neves/AMS_SmartParking">Repositório GitHub</a>
<hr />

<address>
    <strong>Pedro Miguel Oliveira Neves</strong> 67453  <a href="miguelneves@ua.pt">miguelneves@ua.pt</a><br />
    <strong>Catarina Alexandra Correia</strong> 76399  <a href="c.alexandracorreia@ua.pt">c.alexandracorreia@ua.pt</a><br />
    <strong>Daniela Soares de Pina Lopes</strong> 85123  <a href="danielasplopes@ua.pt">danielasplopes@ua.pt</a><br />
</address>

{% endblock %}
